
img{
	width:100%;
}

/*==========Top Panel==========================*/
#toppanel { position: relative; }
.toppanel-wrap {
	z-index: 1500;
	width: 100%;
	height: auto;
	position: absolute;
	top: 0;
	left: 0;
}
.toppanel {
	display: none;
	color: #ffffff;
	padding: 30px;
	background-color: #0d1d32;
	background-repeat: no-repeat;
	background-position: 80% 80%;
}
@media (max-width: 991px) {
.toppanel { background-position: 90% 95%; }
}
.toppanel h1, .toppanel h2, .toppanel h3, .toppanel h4, .toppanel h5, .toppanel h6 { color: #ffffff; }
.toppanel input, .toppanel select, .toppanel textarea { color: #475766; }
.toppanel a:hover, .toppanel a:focus { color: #ffffff; }
.toppanel-list {
	padding: 0;
	list-style: none;
}
.toppanel-list li { padding: 8px 2px; }
.toppanel-list li a { color: #ffffff; }
.toppanel-list li a:hover { color: #ffffff; }
.toppanel-list li i {
	margin-right: 8px;
	color: #ffffff;
}
.toppanel-list li span {
	color: #ffffff;
	font-weight: 700;
}
.toppanel-button {
	position: absolute;
	right: 0;
	border-top: 50px solid #0d1d32;
	border-right: 25px solid #0d1d32;
	border-bottom: 25px solid transparent;
	border-left: 25px solid transparent;
	width: 0;
	height: 0;
	display: block;
	z-index: 1200;
	cursor: pointer;
	outline: none;
	margin: 0;
}
.toppanel-button:before {
	position: absolute;
	display: block;
	top: -15px;
	right: -15px;
	font-family: 'FontAwesome';
	content: "\f002";
	line-height: 1;
	color: #ffffff;
}
.toppanel-button.active:before {
 	content: "\f068"; 
}
#loginform label, #loginform input {
	width: 100%;
	display:block;
	margin: 5px 0;
}
#loginform .submit {
	width: 120px;
	height: 40px;
	font-weight: bold !important;
	margin: 20px 0 5px;
}
.search{
	margin-top:50px;
}
/*=========search=========*/
.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}
.input-group-btn .btn-group {
    display: flex !important;
}
.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}
.btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

@media screen and (min-width: 768px) {
    #adv-search {
        width: 500px;
        margin: 0 auto;
    }
    .dropdown.dropdown-lg {
        position: static !important;
    }
    .dropdown.dropdown-lg .dropdown-menu {
        min-width: 500px;
    }
}

/*========== END Top Panel==========================*/




/*=========================NAVBAR====================*/
.navbar{
	background-color: #0d1d32; 
	border-bottom: #c79a60 solid 4px;
}
.nav li{
	    margin-top: 10px;
}
.navbar li a{
  margin-right:10px;
  border-radius:6px;
  color:white;
}
.navbar-nav li a:hover{
	color:black;
	background-color: #c79a60;
}
.dropdown-menu{
	background-color: #0d1d32;
}
.navbar-toggle {
    position: relative;
    float: right;
    margin-right: 88px;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    color: white;
    background-color: white;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
	color:black;
}
.gjuhet{
	margin-right:20px;
}
.gjuhet li a{
	margin-right:-20px;
}
/*=========================END NAVBAR====================*/



/*=============STUDIO BOX=============*/
#permbajtjet{
	margin-top:10px;
}
.studio-info {
	position: absolute;
	top: 10px;
	left: 5px;
	z-index: 10;
	padding: 5px 10px;
	background: #68a19c;
	border-radius: 0px;
}
.studio-info:after {
	content: '';
	width: 0;
	height: 0;
	position: absolute;
	bottom: -10px;
	left: 0px;
	pointer-events: none;
	border-top: 5px solid #222222;
	border-right: 5px solid #222222;
	border-bottom: 5px solid transparent;
	border-left: 5px solid transparent;
	display: block;
}
.studio-info p {
	text-align: center;
	vertical-align: middle;
	font-size: 14px;
	line-height: 22px;
	font-weight: bold;
	color: #000;
	margin-bottom: 0;
	border-radius: 0%;
}
/* Photo Title */
.photo-title2 {
	background: #fdfdfd;
	border: 1px solid #c79a60;
	border-top: none;
}

.photo-title.text-left2, .photo-title2.text-left2, .photo-title3.text-left2 {
	text-align: left !important;
	padding: 20px 20px 10px !important;
	min-height: 155px;
}


.delay5 {
	-webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
	animation-delay: 0.5s;
}

.delay10 {
	-webkit-animation-delay: 1.0s;
	-moz-animation-delay: 1.0s;
	animation-delay: 1.0s;
}

.delay15 {
	-webkit-animation-delay: 1.5s;
	-moz-animation-delay: 1.5s;
	animation-delay: 1.5s;
}

.effect-phoebe {
	position: relative;
	float: left;
	overflow: hidden;
	text-align: center;
	cursor: pointer;
	margin: 0;
	background: #79b6f2;
	max-width: 100%;
	max-height: 100%;
	width: 100%;
	height: 100%;
}
.effect-phoebe img {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	opacity: 1;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
	-webkit-transform: scaleY(1);
	-moz-transform: scaleY(1);
	-o-transform: scaleY(1);
	-ms-transform: scaleY(1);
	transform: scaleY(1);
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.effect-phoebe:hover img {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}
.effect-phoebe figcaption {
	color: #ffffff;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.effect-phoebe figcaption::before, .effect-phoebe figcaption::after { pointer-events: none; }
.effect-phoebe figcaption, .effect-phoebe figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.effect-phoebe figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}
.effect-phoebe:hover img { opacity: 0.1; }
.effect-phoebe:hover figcaption::before {
	opacity: 0.7;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}
.effect-phoebe p a {
	color: #ffffff;
	font-size: 30px;
	position: relative;
	display: inline-block;
	text-decoration: none;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}
.effect-phoebe p a:first-child {
	-webkit-transform: translate3d(0px, 5px, 0);
	transform: translate3d(0px, 5px, 0);
}
.effect-phoebe p a:nth-child(2) {
	-webkit-transform: translate3d(0px, 5px, 0);
	transform: translate3d(0px, 5px, 0);
}
.effect-phoebe:hover p a {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.effect-phoebe p {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 112px;
	height: 56px;
}
.effect-phoebe p i {
	font-size: 20px;
	line-height: 20px;
	padding-top: 14px;
	padding-bottom: 14px;
	border: 1px solid #ffffff;
	width: 50px;
	height: 50px;
	margin: 2px;
	color: #ffffff;
	background: transparent;
	border-radius: 50px;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.effect-phoebe p i:hover {
	color: #79b6f2;
	border: 1px solid #ffffff;
	background: #ffffff;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}


.pre-scrollable{
	max-height: 573px;
}
.pre-scrollable .studio-info1{
	top: 10px;
    left: 112px;
    padding: 5px 80px;
    background: #68a19c;
    border-radius: 0px;
}
.pre-scrollable .studio-info1 h3{
	top: 10px;
    left: 112px;
    padding: 0px 20px;
    border-radius: 0px;
}
.pre-scrollable .photo-title2{
	margin-top: -40px;
    background: #b5d9d6;
}

/*=============END STUDIO BOX=============*/






.ins-vend h1{
	margin-left:300px;
}

.ins-vend  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.ins-vend  li {
    float: left;
}

.ins-vend  li a {
    display: block;
    margin-left: 107px;
    margin-top:29px;
    padding-right: 153px;
}
.ins-vend li img {
    position: relative;
    float: left;
    width:  100px;
    height: 100px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}
/*=============END HOMEPAGE=========*/









/*============ORGANIZIMI=========*/
.organizimi{
	text-align:center;
}
/*=============END ORGANIZIMI=============*/

/*=============FOTO GALERI===============*/
.gallery{
margin-top: 100px;
     }
  .gallery-item{
   margin-bottom: 30px;
     }
    .modal-footer{
     text-align: center;
   }
    .pagination{
    margin: 0;
    }

/*==============END OF FOTO GALERI=============*/


/*=========KONTAKTI=======*/
.kontakti img{
	width:100%;
}
.kontakti .fa{
	margin-right:10px;
}
.kontakti h4, .kontakti p{
	text-align: center;
}

/*=============END KONTAKTI===========*/


/*==========ROLI===========*/
.roli h2, .roli p , .roli h3{
	text-align:center;
}
/*========END ROLI======*/

.rreshti1 {
	background-color:#c79a60;
}













/*/*=============FOOTER==================*/

#footer li{ 
	color: #000; 
}
#footer {
	position: relative;
	text-align: center;
	margin: 0 auto;
	width: 100%;
	min-height: 100px;
	color: #aaaaaa;
	background: #68a19c;
}
#footer h3 { color: #000; }
.titleline-footer {
	text-align: center;
	border-top: 1px solid #b5d9d6;
}
.footer-list {
	padding: 0;
	list-style: none;
}
.footer-list li { padding: 8px 2px; }

.footer-list li i {
	margin-right: 8px;
	color: #000;
}
.footer-list li span {
	color: #000;
	font-weight: 700;
}
#map{
	margin-top: 30px;
        height: 250px;
        width: 100%;
}

.text-center{
	color:black;
}
.footer-right li{
	display: inline-block;
}